@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to my C# Course Challenge</h2>
    <hr />
    <p>You arrived at this page on @ViewData["TimeStamp"]</p>
</div>
