<!--Using this Admin page with our model-->
@using NewsLetterAppMVC.ViewModels
<!--We are passing in a list as our model-->
@model List<SignupVm>


<!--Using bootstrap-->
<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign-ups</h5>
        </div>

        <!--Card Body-->
        <div class="card-body">
            <!--Display one row per Newsletter SingUp-->
            @foreach (var signup in Model)
            {
                // Creating a Form
                using (Html.BeginForm("Unsubscribe", "Admin", FormMethod.Post))
                {
                    <!--Including a hidden input to add value that matches the Id -->
                    <input type="hidden" name="Id" value="@signup.Id" />
                    <div class="row mb-3">
                        <div class="col">
                            @signup.FirstName
                        </div>
                        <div class="col">
                            @signup.LastName
                        </div>
                        <div class="col-5">
                            @signup.EmailAddress
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger btn-block">
                                Unsubscribe
                            </button>
                        </div>
                    </div>
                }

            }

        </div>

    </div>
</div>