@model WA_MVCTutorial.Models.User

<h1>
    @Model.Id

</h1>
<h1>
    @Model.FirstNameS
</h1>
<h1>
    @Model.LastName
</h1>

<!--  

 using System.Collections.Generic;
 model List<string>

 {
    ViewBag.Title = "Home Page";
}

<div>
    <h1>MVC tutorial</h1>
    <p>This is sent from the HomeController</p>
     ViewBag.RandomNumber

</div>


<div>
     foreach (var name in Model)
            {
                <h1>
                     name
                </h1>
            }
</div>
    -->
